	*{
	   margin :0px; 
	   padding: 0px;
	}

	   body,html{
	   height	:100%;
	 	}

nav{
position: absolute;
height: 100px;
width: 100%;
text-align: center;
line-height:140px;
z-index: 2;
}

nav a{color:#FFF;
font-family: 'Notable', sans-serif;
text-decoration: none;
font-size: 20px;
margin-left: 15px;
padding: 12px 12px;
}
a:hover {
background-color: #000;

}	



	    .gorsel {	
	    height: 100%;
	    background-color: lightblue;
	    background-size: cover ;
	    background-attachment: fixed;



	}  .bant {	
	   height: 50%;
	   background-color: lightgreen;

	}

	#gor1{

		background-image: url("1.jpg");
	}

	#gor2{

		background-image: url("2.jpg");
	}

	#gor3{

		background-image: url("3.jpg");
	}


.anaSayfa{
position:absolute;
float:left;

}

	.anaYazi{
		width:100%;
		height:200%;
z-index:1;
text-align: center;
margin-top: 250px;
	}

.anaYazi h1{font-family: 'MuseoModerno', cursive;
font-size: 90px;
color: orange;
}

	.anaFiltre	{width:100%;
		height:200%;
background-color: #000;
z-index:0;
opacity:0.35;
}